body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
}
 
header {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;

}
header nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 99;
}

header nav div {
    display: flex;
    gap: 5rem;
}

.fa-xl {
    font-size: 1.5em;
    line-height: 1.042em;
    vertical-align: -0.125em;
  }

.header-image {
    width: 656px;
    padding-top: 46px;
}

.header-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0);
    height: 28px;
    width: 201px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 44%;
    left: 60%;
    text-decoration: none;
    text-align: center;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 57%;
    width: 100%;
    color: white;
}


nav {
    background-color: rgb(255, 255, 255);
}

.logo {
    font-size: 39px;
    font-weight: 700;
    text-decoration: none;
    color: black;

}

.navbar {
    display: none;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    top: 100%;
    width: 31%;
    list-style: none;
    left: 0%;
}

.responsive a {
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.breadcrumb {
    margin-top: 13%;
    display: flex;
    gap: 1%;
    margin-left: -6%;
    font-size: 74%;
}

main {
    grid-area: main;
}

a {
    text-decoration: none;
    color: black;
}

.blue-text {
    color: blue;
}

.welcome {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.women-img {
    width: 60%;
}

.women-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0);
    height: 28px;
    width: 201px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 131%;
    left: 60%;
    text-decoration: none;
    text-align: center;
}

.man-img {
    width: 60%;
}

.man-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0);
    height: 28px;
    width: 210px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 210%;
    left: 60%;
    text-decoration: none;
    text-align: center;
}

.child-img {
    width: 100%;
}

.children-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0);
    height: 28px;
    width: 210px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 274%;
    left: 60%;
    text-decoration: none;
    text-align: center;
}

.children-text {
    position: absolute;
    top: 269%;
    left: 38%;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.more-container {
    display: flex;
    justify-content: center;
}

.more-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0);
    height: 34px;
    width: 82px;
    color: whitesmoke;
    font-size: 26px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    
}

.brands ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

 .brands li {
    width: 20%
 }

.product-card {
    display: flex;
    border: solid 1.5px #d2cdcd;
    width: 321px;
    height: 308px;
    flex: 1;
}

.products {
    flex-wrap: wrap;
    display: flex;
    gap: 81px;
    margin: 38px;
  }


.products p {
    font-size: 17px;
    margin-block: auto;
    text-align: center;
}

.all-products {
    font-size: 37px;
}

.p-information {
    font-size: 64%;
}


.product-card img {
    width: 150px; 
    height: 100px; 
}

.cookies {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.contact {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

footer {
    background-color: #eedfdf;
    grid-area: footer;
    font-size: 21px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.about-follow-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    order: 2;
}

.footer-information {
    flex-grow: 1;
    flex-basis: 100%;
    order: 1;
    border: solid 2px;
}

.about-us {
    flex-grow: 1;
    flex-basis: 50%;
    order: 2;
    border: solid 2px;
}

.follow-us {
    flex-grow: 1;
    flex-basis: 50%;
    order: 3;
    border: solid 2px;
}

.follow-icons {
    display: flex;
    flex-direction: row;
    gap: 27px;
}

.payment {
    border: solid 2px;
    flex-grow: 1;
    flex-basis: 100%;
    order: 4;
}

.payment-icons {
    display: flex;
    flex-direction: row;
    gap: 132px;
}

.square-container {
    display: flex;
    flex-direction: row;
    gap: 22px;
    top: 1%;
}

.square-button {
    background-color: black;
    height: 36px;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    flex-basis: 50%;   
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    max-width: 250px;
    margin-left: 10px;
}

