body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}

.underline {
    text-decoration: underline;
}

.align-center {
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
}
 
header {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;

}
header nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 98;
}

header nav div {
    display: flex;
    gap: 5rem;
}

.fa-xl {
    font-size: 1.5em;
    line-height: 1.042em;
    vertical-align: -0.125em;
  }

.header-image {
    width: 656px;
    padding-top: 46px;
}

nav {
    background-color: rgb(255, 255, 255);
}

.shipping {
    display: none;
}

.logo {
    font-size: 39px;
    font-weight: 700;
    text-decoration: none;
    color: black;

}

.navbar {
    display: none;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    top: 100%;
    width: 31%;
    list-style: none;
    left: 0%;
}

.responsive a {
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.breadcrumb {
    margin-top: 13%;
    display: flex;
    gap: 1%;
    margin-left: -6%;
    font-size: 74%;
}

main {
    grid-area: main;
}

a {
    text-decoration: none;
    color: black;
}

.blue-text {
    color: blue;
}

.welcome {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.women-img {
    width: 60%;
}

.man-img {
    width: 60%;
}

.child-img {
    width: 100%;
}

.more-container {
    display: flex;
    justify-content: center;
}

.more-button {
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0);
    height: 34px;
    width: 82px;
    color: whitesmoke;
    font-size: 26px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    
}

.brands ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

 .brands li {
    width: 20%
 }

 .h3-brands {
    margin: 7%
 }

 .hidden-square-button {
    display: hidden; 
 }

.h2-products {
    display: flex;
    flex-basis: 100%;
    order: 1;
}

.product-card {
    display: flex;
    border: solid 1.5px #d2cdcd;
    width: 321px;
    height: 308px;
    flex: 1;
    order: 2;
}
.products {
    flex-wrap: wrap;
    display: flex;
    gap: 81px;
    margin: 38px;
  }

.products p {
    font-size: 17px;
    margin-block: auto;
    text-align: center;
}

.products h2 {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.h2-products {
    margin: 1%;
}


.all-products {
    font-size: 37px;

}

.p-information {
    font-size: 64%;
}


.product-card img {
    width: 150px; 
    height: 100px; 
}

.cookies {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.contact {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

footer {
    background-color: #eedfdf;
    grid-area: footer;
    font-size: 21px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.about-follow-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    order: 2;
}

.footer-information {
    flex-grow: 1;
    flex-basis: 100%;
    order: 1;
    border: solid 1px;
}

.about-us {
    flex-grow: 1;
    flex-basis: 50%;
    order: 2;
    border: solid 1px;
}

.follow-us {
    flex-grow: 1;
    flex-basis: 50%;
    order: 3;
    border: solid 1px;
}

.follow-icons {
    display: flex;
    flex-direction: row;
    gap: 27px;
    margin-top: 50px;
}

.payment {
    border: solid 1px;
    flex-grow: 1;
    flex-basis: 100%;
    order: 4;
}

.payment-icons {
    display: flex;
    flex-direction: row;
    gap: 132px;
}

.square-container {
    display: flex;
    flex-direction: row;
    gap: 22px;
    top: 1%;
}

.square-button {
    background-color: black;
    height: 36px;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    flex-basis: 50%;   
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
    width: 232px;
}

.h1-sign-in {
    font-size: 37px;
    margin: 50px;
}

.login-container {
    display: flex;
    justify-content: center;
    margin: 8%;
}

.forgot-password {
    text-decoration: underline;
    justify-content: center;
    display: flex;
}

.login-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.membership-benefits {
    text-align: left;   
}

.membership-container {
    display: flex;
    justify-content: center;
    margin: 52px;
}

.h2-membership {
    display: flex;
    flex-basis: 100%;
}

.ul-benefits {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    #grid-container {
        display: grid;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .shipping {
        display: flex;
        background-color: #eedfdf;
        font-size: 13px;
        position: fixed;
        z-index: 99;
    }

    .shipping-info {
        display: flex;
        flex-direction: row;
        gap: 24rem;
        margin: 0;
        margin-right: 59px;
    }
    
    #meny {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;
        margin: 13px;
        font-size: 23px;
    }
    .fa-xl {
        font-size: 1.1em;
        line-height: 2.042em;
        vertical-align: -0.125em;
      }

    header nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        z-index: 98;
        margin-top: 0px;
      }

    nav {
        background-color: rgb(255, 255, 255);
    }

    .logo-nav {
        display: flex;
    }

    .logo {
        font-size: 39px;
        font-weight: 700;
        text-decoration: none;
        color: black;
        margin-top: 1%;
      }

      .breadcrumb {
        margin-top: 7%;
        display: flex;
        gap: 1%;
        margin-left: -3%;
        font-size: 74%;
      }

    .header-image {
        width: 100%;
        padding-top: 1%
      }

    .index-products-container {
        display: flex;
        justify-content: center;
        gap: 14rem;
    }
    .welcome {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .child-img {
        width: 50%;
    }

    .man-img {
        width: 100%;
    }

    .women-img {
        width: 97%;
    }

    .brands {
        display: flex;
        flex-wrap: wrap;
        gap: -1px;
        margin-right: -122px;
    }

    .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 11px;
        width: 232px;
        margin-top: -62px;
      }

    .fa-facebook {
        font-size: 4rem;
    }

    .fa-google {
        font-size: 4rem;
    }

    .login-icons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 5rem;
        margin: -3rem;
    }

    .follow-icons {
        display: flex;
        flex-direction: row;
        gap: 135px;
        margin-top: 50px;
      }

    .payment-icons {
        display: flex;
        flex-direction: row;
        gap: 28%;
      }

      .membership-benefits {
        text-align: left;
        margin-top: 5rem;
      }

      .footer-information {
        flex-grow: 1;
        flex-basis: 100%;
        order: 1;
        border: solid 1px;
        font-size: 1rem;
      }

      .about-us {
        flex-grow: 1;
        flex-basis: 50%;
        order: 2;
        border: solid 1px;
        font-size: 1rem;
      }
}